[2019-02-15 19:30] mkillewald opened #1 "Feature Request: run script by section(s)"
Great work so far! I think It would be cool if after running a default scan, you could expand or re-run a particular section or sections with a deeper verbose level. For example,

$ ./lse.sh --section 'sudo,security,file system' -l 2

[2019-02-15 20:05] diego-treitos commented on #1
Thank you for your suggestion. That is indeed a great idea!

I will have to look into it because some tests use the results of other tests so I have to find a way to handle the dependencies.

[2019-02-18 17:06] diego-treitos commented on #1
This issue should be solved with the release of [version 1.0](https://github.com/diego-treitos/linux-smart-enumeration/commit/6191256773723abcbd6b83ea89846e9f844bdc48)

This version allows the inclusion of a parameter `-s` that allows the selection of _sections_ or specific _tests_

[2019-02-18 17:06] #1 closed

[2019-02-19 06:13] NullArray opened #2 "Noticed you were working on a LinEnum fork."
The ticket you opened [here](https://github.com/rebootuser/LinEnum/issues/31) showed up in my notification box. I took a moment to read what you had written there, and had a quick look at your source code. It's looking pretty neat so far.

Now the reason i wanted to open this ticket and get in touch is because i wrote a tool a while ago that automatically downloads and deploys several enumeration,

[2019-02-19 10:25] diego-treitos commented on #2
Hi @NullArray, thank you for your interest in this tool. Please, feel free to include it in your **RootHelper** script. At the end of the day, it is free software :) and I also borrowed from LinEnum.

The LinEnum tool is a great tool, although it works in a different way. I think it was designed to gather and collect information about a linux system.
LSE tries to give importance to the information

[2019-02-19 11:08] diego-treitos commented on #2
I've been taking a look to your script and it is great to have an script to get all the privesc stuff together. I took the liberty to add some changes in your script so hopefully it would be a bit easier to manage it. Feel free to include or discard the PR as you wish. https://github.com/NullArray/RootHelper/pull/6

Thanks again for your consideration and your tool!

[2019-02-20 23:08] NullArray commented on #2
Thank you for the kind words, and thank you for your Pull Request, i'll go over the changes as soon as i hit the "comment" button on this post.

Yeah, RootHelper was made with privilege escalation in mind. The enumeration scripts that are available through it are there to gather information to that end. In that sense, an enumeration script that was built with privilege escalation in mind would be

[2019-02-21 04:52] NullArray commented on #2
Alright. Just merged the PR, while i was at it i added some new functionality including operations to download your tool.

Check out the commit history below if you're interested.

https://github.com/NullArray/RootHelper/commit/a7f03cc8dc31eb120c5861da69899f72109c4cae

[2019-02-21 11:35] diego-treitos commented on #2
Thank you @NullArray for adding LSE to your script. I saw that you added a "tip of the day" feature, haha. Nice.

I guess we can close this ticket now.

[2019-02-21 11:35] #2 closed

[2019-02-27 03:00] pai-theredhat opened #4 "SUID not shown in IRKED"
viewuser SUID was not showing in the Irked machine

[2019-02-27 03:02] pai-theredhat opened #5 "Feature request"
Kindly check whether repositories like git or svn is present ?

find / -name .git
.svn

something like that

that would be awesome

[2019-02-27 03:03] pai-theredhat opened #6 "retaining the color scheme if stopped"
If I stopped the execution using ctrl c my shell retains the colora and other profiles of the script

[2019-02-27 03:03] pai-theredhat commented on #6
i meant styling

[2019-02-27 09:16] #6 closed

[2019-02-27 09:17] diego-treitos commented on #6
Thank you for reporting the problem. It should be fixed now.

[2019-02-27 09:23] #5 closed

[2019-02-27 09:23] diego-treitos commented on #5
Thanks a lot for the idea. It was added as a `level  1` information.

[2019-02-27 09:32] diego-treitos commented on #4
Yes, I know that the current check for "odd" SUID binaries is quite poor. Currently an "odd" SUID binary is only the one that is outside the common binary paths.

I already thought about improving the check, but for that I would require a list of common SUID binaries from the most known linux distributions.

I would probably have to install the desktop version (probably it has more software and th

[2019-02-27 12:55] pai-theredhat commented on #5
Awesome

[2019-02-27 12:56] pai-theredhat commented on #5
.mozilla

[2019-02-27 12:57] pai-theredhat commented on #4
Yes..I understand

[2019-02-27 12:58] pai-theredhat commented on #4
U may just start with Ubuntu lts .... Check the os and show accordingly ...and then u can build on new oses as and when you get time

[2019-02-27 12:59] pai-theredhat commented on #4
Like  if (os = Ubuntu )
Check against a list

[2019-02-27 19:14] #4 closed

[2019-02-27 19:15] diego-treitos commented on #4
Actually I found an easy way to find those binaries for several distributions and I could implement your feature much easier than I though. It should work much better now.

[2019-02-27 23:57] pai-theredhat opened #7 "More infor about distro"
It would be great if you can add more info about the linux version

eg:- Ubunt 16.014.1 LTS

This info is missing

And A line about if it is dirty cowable would be nice

[2019-02-28 03:58] pai-theredhat opened #8 "proccesses running as root"
Are we using this ?

ps aux | grep root

[2019-02-28 09:20] #7 closed

[2019-02-28 09:20] #8 closed

[2019-02-28 09:20] diego-treitos commented on #8
Thank you for reporting. This was added.

[2019-02-28 09:25] diego-treitos commented on #7
Thank you for the suggestion. I already added it.

Regarding the detectiong of the dirty cow vulnerability, I don't think I can implement that yet. I want this script to be as reliable as posible and, although I looked into it, I did not find any reliable way to detect CVEs in a system.  There are many factors like properly detecting the versions, the distribution custom patching, etc.
In any case

[2019-04-26 17:58] Langriklol opened #9 "Syntax error line 87"
Hi there,
as I wanted to test you script, I am unable to launch it.  The error is:
 `lse.sh: 87: lse.sh: Syntax error: "(" unexpected `

as in the following screen.
![image](https://user-images.githubusercontent.com/20239181/56826725-3f9cd200-685d-11e9-8c9b-99d5bb35bbab.png)

Code snippet:
![image](https://user-images.githubusercontent.com/20239181/56827048-fef18880-685d-11e9-9056-3b79c7d9c5a5.png

[2019-04-26 18:33] diego-treitos commented on #9
You probably have `sh` symlinked to `/bin/dash`.

I am afraid that the script is not POSIX compliant, as it uses arrays, so it requires `bash` to run.

Could you try `bash ./lse.sh` or just `chmod 750 lse.sh; ./lse.sh` ?

[2019-04-26 19:18] Langriklol commented on #9
@diego-treitos oh yes.. thats it. Thanks alot! :)

[2019-04-26 19:35] diego-treitos commented on #9
You are welcome :). I hope the tool is useful for you.

[2019-04-26 19:35] #9 closed

[2019-06-06 21:06] cowbe0x004 opened #11 "declare: -g: invalid option"
Thank you for the great script! Not sure if there's alternative for declare, but I'm getting these errors in older machines.

$ bash --version
GNU bash, version 3.1.17(1)-release (i486-pc-linux-gnu)
$ declare -g
bash: line 13: declare: -g: invalid option
declare: usage: declare [-afFirtx] [-p] [name[=value] ...]

===================================================================( sudo )=====
[!]

[2019-06-06 21:38] diego-treitos commented on #11
Hello @cowbe0x004, thank you for your bug report and specially thank you for providing such a good information about the problem.

I see that the version of bash that you are using does not support `declare -g`, so I am trying a different trick to do what the `declare -g` is suposed to do. Could you please try this version and tell me if it fixes your problem and the script works properly?

https:

[2019-06-06 22:31] cowbe0x004 commented on #11
yep, that works. Thank you for the fast fix.

[2019-06-07 07:50] #11 closed

[2019-06-07 10:41] diego-treitos commented on #11
I am glad it is fixed. I added the fix to the main branch, so it is already available in version 1.5.

Thanks for your help!

[2019-07-12 16:18] jasikpark opened #12 "\e[ characters not rendering in macOS Terminal.app"
I suppose this tool is explicitly built for Linux, not Unix/macOS, but for some reason there's a UI element that renders as text rather than what it's supposed to render to.

<img width="1389" alt="Screenshot 2019-07-12 11 14 38" src="https://user-images.githubusercontent.com/10626596/61142923-8a121000-a496-11e9-8da9-b97797fdd525.png">

All of the \e[### characters just show up as the raw text.

I

[2019-07-12 18:20] diego-treitos commented on #12
Hello @jasikpark , it is true that the tool is designed to work on Linux systems (hence the name...). However I took a quick look and I think I can improve compatibility a bit regarding ANSI codes.
I've just created a branch for this. Could you test this version and let me know how it goes? (https://github.com/diego-treitos/linux-smart-enumeration/blob/ansifix01/lse.sh)

[2019-07-12 22:08] jasikpark commented on #12
perfect!

<img width="1389" alt="Screenshot 2019-07-12 17 02 48" src="https://user-images.githubusercontent.com/10626596/61160985-6dda9700-a4c7-11e9-814a-6091f6915d89.png">

[2019-07-12 22:08] jasikpark commented on #12
apparently I use Linux 18.6.0 😅

[2019-07-12 22:15] jasikpark commented on #12
<img width="752" alt="Screenshot 2019-07-12 17 14 10" src="https://user-images.githubusercontent.com/10626596/61161231-957e2f00-a4c8-11e9-9f41-c8bcb5be3de1.png">

[2019-07-12 22:15] diego-treitos commented on #12
I am glad it works for you now. I will look into merging this branch, but I will do some tests before.

Hehe, apparently the tool is sometimes too _smart_  :)

[2019-07-12 22:18] diego-treitos commented on #12
I am intrigued... seeing that it successfully finished in macOS. This might mean that many tests could be useful for other Unix flavors too, which is cool!

[2019-07-12 22:20] jasikpark commented on #12
Yep! It skipped many of the non-applicable tests, but that's what I would expect!

[2019-07-12 22:24] diego-treitos commented on #12
That is fantastic! Thank you for the information!

[2019-07-15 15:46] diego-treitos commented on #12
Fix merged to `master` in [1.6](https://github.com/diego-treitos/linux-smart-enumeration/releases/tag/1.6)

[2019-07-15 15:46] #12 closed

[2019-10-09 14:40] Tib3rius opened #16 "Suggest removing the exim binary from the list of common setuids."
https://github.com/diego-treitos/linux-smart-enumeration/blob/6fe31571efda97ccf9d478662ba6f8fef03a659f/lse.sh#L152

Presumably the purpose of the common setuid check is so that time is not wasted chasing down exploits in "default" and usually secure binaries. However I'm not aware that exim is installed by default on many systems, and even if it is, exim has a number of privilege escalation exploi

[2019-10-10 17:16] diego-treitos commented on #16
The uncommon setuid binaries check is there to detect custom setuid binaries or binaries that are rarely used so possibly more prone to have some vulnerability. I think exim is still a very common binary and I actually extracted the list from the base installation of several common distributions.

In my opinion, the fact that several vulnerabilities were detected in setuid binaries doesn't make th

[2019-10-11 17:47] #16 closed

[2019-11-15 16:24] Barneee opened #17 "Feature request (/etc/passwd)"
checking if /etc/passwd is writable?

[2019-11-15 17:39] diego-treitos commented on #17
That is already implemented in test `fst160`.

You can easily test for it with `./lse.sh -i -s fst000,fst160` in a Linux installation with a writable `/etc/passwd` file.

Please be sure to use always the latest version of the script.

[2019-11-15 17:39] #17 closed

[2019-11-23 17:26] exploide opened #19 "Issues with 'SSH files in home directories'"
I encountered issues with the *SSH files in home directories* test. There are several ways to fix it, but I'm not sure about the best solution. So I open an issue instead of a PR and you can decide what's best.

First, I noticed the test returns duplicate entries, listing the same file several times. This is annoying and unnecessary so I wanted to fix that.

The reason this happens is because the

[2019-11-23 18:36] exploide commented on #19
And another thing: The test currently only finds DSA and RSA keys. For completeness, I would also search for `id_ecdsa` and `id_ed25519`.

[2019-11-24 00:10] diego-treitos commented on #19
@exploide thanks a lot for reporting the problem.

I think I fixed both of your requests in the new version `1.11`

1. I removed duplicated home directories and removed others like `/`,`/dev/`,`/proc`,`/bin`,`/run/.*` and `/var/run/.*`

2. I added the other key formats to the search.

Please feel free to test and report back in case it is not working as expected or it can be further improved.

[2019-11-24 00:10] #19 closed

[2019-12-12 20:17] exploide opened #20 "Option to exclude [long running] tests"
On real (non-CTF) systems, lse.sh can be extremely slow, especially when the host's filesystem contains a huge amount of data.

To skip tasks that seem to hang for hours, currently one needs to specify all remaining tasks via `-s`. This is a bit cumbersome for such scenarios. I would like to propose an exclude flag, that allows to define which tasks to skip.

But looking at the list of tasks, this

[2019-12-13 23:24] diego-treitos commented on #20
You bring an important point. Thanks for reporting it. I will look into it and look for some options. I tested on some real servers with around 200GB and it takes several minutes but it looked acceptable. However I bet it takes a lot in bigger servers.

I might look into a way to fine tune the finds or even a way to exclude filesystems. I am thinking in cases where a server has an special filesyst

[2019-12-16 11:25] diego-treitos commented on #20
I've been thinking about this and I think that adding an option to exclude filesystem paths should help a lot with this.

I am imagining that the server where you run this might have some mount point with terabytes of data or maybe some network mount. These would slow the `find /` calls a lot. So I am thinking that if we add something like `--exclude-path  /mnt/nfs_data,/data,/mnt/backups` so the

[2019-12-16 18:55] exploide commented on #20
Sounds reasonable :+1: I would test it when I'm in need for this the next time. Don't know when this happens, though.

[2019-12-16 23:49] diego-treitos commented on #20
I added the `-e` option to exclude paths from the scan in a separate branch. Please, feel free to try it: https://raw.githubusercontent.com/diego-treitos/linux-smart-enumeration/fix%2320/lse.sh

[2019-12-17 16:32] exploide commented on #20
Looks good. Currently I have no system at hand where I would need this option, but as far as I see, this could have solved my problem I had the last time.

Though, one needs to figure out manually, what paths take ages and need to be excluded. But that should be manageable.

I'm not sure about calling this option `-e`. Maybe one day you want to implement an exclude selection switch. But I see you

[2019-12-18 23:36] diego-treitos commented on #20
@exploide I have just merged the changes into the main branch. Before that, I made a lot of optimizations to improve performance. I found that when the user has many writable files somewhere, the speed of some checks was dramatically increased.

However, tuning the tests I was able to decrease the time of some tests from several hours to just several seconds when the user can write in thousands of

[2019-12-18 23:46] #20 closed

[2019-12-19 19:26] exploide commented on #20
Awesome :+1: Can't wait to try it next time :wink:

[2019-12-23 08:07] Reelix opened #21 "Suggestion: Show if Netcat has -e support"
Under "fst100 Useful binaries" you show Netcat as one of the options (nc)

There are several versions of Netcat - Not all of them with -e support (Inbound program to execute) which is quite a major factor when doing CTFs, specifically with reverse shells.

I suggest that if Netcat appears under the Useful binaries section, you add a display showing if the -e parameter is supported

[2019-12-27 11:56] brn7331 opened #22 "Other useful oneliners"
Hi!
great work with this project!
as additional oneliners I would suggest you the followings:
[code]
keep up the good work!

[2019-12-27 16:47] diego-treitos commented on #21
I've been thinking about this issue and I don't really see how the `-e` option for netcat is relevant from a privesc point of view. Listing the useful binaries might be interesting to see what options you have but I believe that checking the options inside each one of them should be checked manually when you need them.

At the end of the day, you already need a shell to execute `lse.sh` so if you

[2019-12-27 16:47] #21 closed

[2019-12-27 17:14] diego-treitos commented on #22
Thank you, I added them to the readme in an Examples section.

Thanks for your kind words and for taking your time to help to improve the tool.

[2019-12-27 17:14] #22 closed

[2020-01-31 00:29] iinc0gnit0 opened #23 "Sorry for the spam"
https://github.com/diego-treitos/linux-smart-enumeration/blob/master/screenshots/lse.gif
I was wondering what terminal you are using to show case your tool, it looks very nice and clean. I was going to use it to show case one of my tools with it too. Awesome tool and much love.

[2020-01-31 10:08] diego-treitos commented on #23
Hi, thank you for your kind words.

The terminal is just `xfce4-terminal`. Regarding the looks, I am using the `Adapta` theme in its `Nokto` version. You can install it with `apt install adapta-gtk-theme` in Debian/Ubuntu.

I am also using the font `Hack Nerd` from the nerd fonts: https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Hack

Now, regarding the terminal configuration, thi

[2020-01-31 21:37] yangr0 commented on #23
Thank you so much. Have a nice day.

[2020-01-31 21:37] #23 closed

[2020-03-30 15:49] Techbrunch opened #25 "Group process running per user"
Hello @diego-treitos ,

First thank you for this tool.

I was wondering if it would be a good addition to list running process per user instead of all running processes. Or maybe users with a shell.

I think this would help identify interesting running processes quicker.

Let me know if you would be interested by something like this and I'll see what I can do.

[2020-03-31 09:09] diego-treitos commented on #25
Hello @Techbrunch I like the idea very much. Listing processes belonging to users that have shell is certainly interesting. Thank you for the idea!

I am looking into it.

[2020-03-31 10:16] diego-treitos commented on #25
I created a branch with a new test that should include your idea: https://github.com/diego-treitos/linux-smart-enumeration/blob/fix%2325/lse.sh

I added the test `pro020`. You can test it with `./lse.sh -i -l1  -s pro020,usr030`.

Please, let me know if this is what you asked for. If everything is ok I will merge it to `master`

[2020-03-31 13:34] Techbrunch commented on #25
Perfect !

[code]

[2020-03-31 15:12] Techbrunch opened #26 "List non default directories in the root path"
Hello,

I think a nice addition would be to list non-default directories in the root path.

I ran into this situation in a CTF where the interesting files were in `/backup`.

[2020-04-02 19:15] #25 closed

[2020-04-02 19:32] diego-treitos commented on #26
Hi again @Techbrunch . Thank you for providing another idea.

In this case I am not convinced that looking for non-default directories is that interesting for a privilege escalation. It might be too generic.

However I think that looking for **readable backups** is actually very interesting.

I am considering to add a test that runs something like:

[code]

This should return files that are **read

[2020-04-07 07:19] stloewen opened #28 "again: declare: -g: invalid option"
you gradually reverted your fix for #11 (via commit f14477ca482a33c56157d136b961b0bb552b0ddc and commit aa49197f0fdadd778ddced2d98b3dd524adf050d)

So I'm again getting `declare: -g: invalid option` on older bash versions.

[2020-04-07 23:05] diego-treitos commented on #28
Hi, thank you for reporting this... again.

The problem was that it was not properly fixed. Using `eval` was very dangerous depending on what was being assigned, and `export` didn't work properly.

However I think I found a way of doing it that should also work with old bash versions. I am now using `readonly` which seems to declare the variable globally and accepts a variable as variable name.

P

[2020-04-09 19:16] guanicoe opened #29 "[ERROR] Get a syntx error"
$ sh lse.sh
lse.sh: 87: lse.sh: Syntax error: "(" unexpected

[2020-04-09 19:24] diego-treitos commented on #29
$ bash lse.sh

[2020-04-09 19:25] guanicoe commented on #29
my bad

[2020-04-09 19:25] #29 closed

[2020-04-18 23:30] diego-treitos commented on #28
I tested the fix in an old bash version (3.something) and this worked. This fix was included in version 1.2

[2020-04-18 23:30] #28 closed

[2020-04-18 23:31] diego-treitos commented on #26
I added a check to detect readable backups in version 1.20

[2020-04-18 23:31] #26 closed

[2020-04-26 15:37] KumarShrawan opened #30 "syntax error near unexpected token `newline' ./lse.sh: line 166: `lse_common_setuid+=('"
Hi ,
I was trying this script on "  Hostname: kioptrix.level2,  Linux: 2.6.9-55.EL ,Distribution: CentOS release 4.5 (Final) " and I got the below error:
**bash-3.00$** ./lse.sh
./lse.sh: line 166: syntax error near unexpected token `newline'
./lse.sh: line 166: `lse_common_setuid+=('
bash-3.00$

![lse_issue 2020-04-25 at 11 29 42 PM](https://user-images.githubusercontent.com/4800504/80311972-b5a9

[2020-04-26 15:46] diego-treitos commented on #30
Yes, this is a known problem. The scripts requires at least bash 4 with support for arrays.

[2020-05-01 13:48] diego-treitos commented on #30
Hi again @KumarShrawan, I've been working a bit to convert the script to be POSIX compliant. I've tested it using `posh` and it seems to work fine.
There is a git branch called `posix` with this version. Could you try it?

`https://raw.githubusercontent.com/diego-treitos/linux-smart-enumeration/posix/lse.sh`

[2020-05-09 02:18] mechs85 commented on #30
Hi @diego-treitos POSIX version works. Thank you

[2020-05-09 10:48] diego-treitos commented on #30
Fantastic, thanks for the feedback. I will switch to the posix compliant branch by default.

[2020-05-09 10:48] #30 closed

[2020-05-14 07:09] Barneee opened #31 "additional SSH check"
Hi Diego,
would be cool if you can add the feature that your script checks for unencrypted ssh-keys in memory (ssh-agent) by calling "ssh-add -l" and check if there are entries present or not.

Greets,
Barneee

[2020-05-16 00:45] diego-treitos commented on #31
Hi Barnee, thank you for your suggestion. I added the test as `sof050` which is now included in version `2.2`.

Cheers

[2020-05-16 00:45] #31 closed

[2020-05-22 09:27] Barneee commented on #31
My pleasure. Cool thanks for the quick implementation.
Greets Barneee

[2020-06-04 18:07] exploide opened #32 "Color escape sequences in output"
Since the script was made compatible with `/bin/sh` instead of relying on bash (which I think was a good step), I noticed some weird behaviour on some targets.

Specifically, the color escape sequences are not interpreted but remain in the output when `/bin/sh` is a not so recent version of dash.
Even more disturbing, passing `-c` to lse to suppress colors completely does not have any effect here.

[2020-06-06 00:29] #32 closed

[2020-06-06 00:34] diego-treitos commented on #32
@Exploide Thanks a lot for keeping reporint bugs.

This is due to dash using the builtin printf instead of the command. It should be solved in version 2.3.

[2020-06-27 03:52] engn33r opened #34 "Feature: flag to create output file"
I am not sure if others would find this useful, but some users might want to save the output of this script somewhere. I consider this script to have two outputs: The text printed to the terminal and the output of the commands that are run. Using the -l2 shows both of these outputs, but if there was a way to print -l0 or -l1 information to the terminal but store the -l2 output (output of commands)

[2020-06-27 15:34] diego-treitos commented on #34
The way the script works is that there are more commands that are executed under `-l2` than under `-l1` or `-l0`. This way the script executes faster in the less verbose levels.

If you want all the output you have to execute under `-l2` and you can redirect all that to a file with `./lse.sh -l2 > output.txt`. You can even keep the colors and then open the file with `less -r output.txt` so you see

[2020-07-02 12:00] sa677 opened #35 "NO SPAM THANKS"

[2020-07-02 12:10] #35 closed

[2020-07-24 18:48] #34 closed

[2020-07-25 11:06] exploide opened #37 "lse_sudo_commands: readonly variable"
When running lse on Debian 10 without `-i` option, the following error occurs:

[code]

While it continues when running under bash, it aborts completely when running with `/bin/sh`.

[2020-07-31 22:12] #37 closed

[2020-07-31 22:13] diego-treitos commented on #37
This should be fixed in version 2.5.

Thanks a lot for reporting it.

[2020-08-27 02:56] oabsixr commented on #32
Having a similar issue with the color running lse without explicitly running with bash on an older device. A screenshot with some details, not sure if it's enough information for you?

![image](https://user-images.githubusercontent.com/67179369/91378783-de6f7f00-e853-11ea-85f4-8efccd039eb8.png)

![image](https://user-images.githubusercontent.com/67179369/91378709-af590d80-e853-11ea-9f36-e7bf78d399

[2020-08-27 02:56] oabsixr opened #38 "LSE Color issues"
Having a similar issue with the color as (https://github.com/diego-treitos/linux-smart-enumeration/issues/32) while running lse without explicitly running with bash on an older device. A screenshot with some details, not sure if it's enough information for you?

![image](https://user-images.githubusercontent.com/67179369/91378990-3d34f880-e854-11ea-8897-148a16a52b34.png)
![image](https://user-imag

[2020-08-27 19:16] engn33r commented on #34
Thank you for the ideas!

Setting `lse_DEBUG=true` and using `./lse.sh -l2 > output.txt` is very similar to what I was looking for. The only difference with the idea I was thinking of is that it would be nice if this DEBUG output could be saved, but at the same time, the abbreviated output (such as with `-l1`) could be printed to the terminal. This would allow a user to easily identify what areas

[2020-08-28 13:10] Reelix opened #40 "sud000 missing alternate hostname results"
For `sud000` (Can we sudo without a password?), you currently check

`sudo -nS id`

Which only checks if the user can sudo without a password on the current host.

If the user has read-access to their own sudoers file, you can also go

`cat "/etc/sudoers.d/$(whoami)"`

Which displays commands that the user can sudo on any host by specifying the `-h` flag on `sudo`

[2020-08-31 13:36] diego-treitos commented on #38
Hello @oabsixr, thank you for reporting the issue. I had to install a Fedora Core 4 to test and this is indeed an odd bug. I already have a fix and will be available in the next release.

[2020-08-31 15:26] diego-treitos commented on #40
@Reelix Thank you taking your time to report this. However I think that either I am not understanding well or maybe you have the wrong idea regarding `sudo` and `sudoers`.

First of all, the `/etc/sudoers.d` is a directory that contains files with rules for sudo.  This is included from the `/etc/sudoers` file with `#include /etc/sudoers.d`.  So there is no such *own user sudoers file* unless some

[2020-08-31 15:29] #38 closed

[2020-08-31 19:38] Reelix commented on #40
That would cover this case perfectly :) Closing this issue!

[2020-08-31 19:38] #40 closed

[2020-09-13 10:26] zero77 opened #41 "[Request] User Friendly Reports"
lse finds lots of useful info but, it can some times be a bit hard to analyze when the reports big and there's lots their.

Having an option to create an html report with hyperlinks and cullers as well as minimizing or expanding sections, would make it easier to analyze the output.
Thanks

[2020-09-26 17:44] 0xsan-z opened #42 "Uncommon setuid binaries"
Hi diego,

Their seems to be a problem in "Uncommon setuid binaries" check if the uncommon suid binary names matches to that of in ${lse_common_setuid}
e.g.
┌──(kali㉿kali)-[/tmp]
└─$ cat test.sh
#!/bin/sh
setuidbin=sys
for cs  in ping ping6;
do
        setuidbin=`printf "$setuidbin\n" | grep -Ev "$cs"`;
done;
printf "$setuidbin\n"

┌──(kali㉿kali)-[/tmp]
└─$ ./test.sh
sys              <============

[2020-09-29 12:37] diego-treitos commented on #41
That is not in the scope of this script sorry. Maybe in the future I can consider to create a formatted output though.

[2020-09-29 12:37] #41 closed

[2020-09-29 12:44] diego-treitos commented on #42
Thanks a lot for reporting this @0xsan-z . Indeed that is a poor check. It should be fixed on version `2.8` that I've just released.

[2020-09-29 12:44] #42 closed

[2021-01-14 06:44] Reelix opened #43 "Suggestion: Search for passwords in commonly used log files"
I recently came across a box that had the data of the ```su``` command (The users password) in the audit log which lse missed.

A simple `grep -R 'comm="su"' /var/log/audit/audit.log* 2>/dev/null` would have picked this up.

Might want to add this, and look for other commonly used log files that could also contain sensitive data in the future :)

[2021-01-17 00:24] diego-treitos commented on #43
Thanks a lot for the suggestion. I will look into it although it is a bit unusual that a user have access to those log files.

[2021-02-03 00:03] #43 closed

[2021-04-01 18:13] danielwalo opened #44 "Consider dropping white/black colors"
Hi. :)

I use Kali in with the High Contrast style. When running lse.sh with colors, this causes the test descriptions to be "blank" because white is hard-coded as the foreground color.

![lse](https://user-images.githubusercontent.com/23709297/113336244-65bf2c80-9326-11eb-8823-f706d9371f9b.png)

I fixed the issue by deleting all instances of ${white} in the script. It's useful to have color highl

[2021-04-21 10:55] diego-treitos commented on #44
Hi. Sorry for the delay on the response.

I gave some thought to this and eventually I decided that it might be good to have an alternative color scheme for these cases.

I created a new branch to test a new color scheme that you can activate with the `-C` (capital C) paramenter, just for you ;).

Please give it a try: https://raw.githubusercontent.com/diego-treitos/linux-smart-enumeration/alt_col

[2021-04-21 13:21] danielwalo commented on #44
Looks great!

[2021-04-21 17:30] diego-treitos commented on #44
Thank you @danielwalo . I've released version `3.2` that includes this change.

I am closing this ticket.

Cheers!

[2021-04-21 17:30] #44 closed

[2021-05-07 00:51] Reelix opened #46 "Missing "doas" configuration checking"
https://book.hacktricks.xyz/linux-unix/privilege-escalation#doas

Paths:
* /etc/doas.conf
* /usr/local/etc/doas.conf

[2021-05-29 22:07] diego-treitos commented on #46
Is there any Linux distribution that uses doas? Isn't it used only in BSD systems?

[2021-05-30 18:04] Reelix commented on #46
I came across this case in two different CTFs and noticed that it was a privesc method that LSE missed, so decided to add it here.

[2021-05-30 18:26] diego-treitos commented on #46
I see. I will look into it but if it is an exclusive BSD command it will a low priority task as it is not really in the scope of the tool, but I agree it would be a "nice to have" test.

Thanks for taking your time to suggest it.

[2021-06-29 16:09] Reelix opened #47 "Elevate NFS share checking up to l1 from l2"
As it stands, the check for NFS shares is at level 2 - Which is current reserved for information checks more so than critical ones.

https://github.com/diego-treitos/linux-smart-enumeration/blob/c795112ac530da18f7d357cab5c85650d61f4aeb/lse.sh#L816-L819

The thing is that NFS can easily be misconfigured

https://book.hacktricks.xyz/linux-unix/privilege-escalation/nfs-no_root_squash-misconfiguration

[2021-07-09 07:39] diego-treitos commented on #47
The `no_root_squash` definitely needs a level 0. I will probably add also `no_all_squash` as a level 1.

 Thank you for reporting this.

I am working on it.

[2021-07-09 09:59] diego-treitos commented on #47
Resolved in version `3.4`

[2021-07-09 09:59] #47 closed

[2021-07-11 18:04] loneicewolf commented on #46
@diego-treitos
 [Just to confirm this]
I can confirm, one CTF I did awhile ago needed LSE; I do not remember what OS it was, (at least not the exact version) Will check it and come back -> edit my comment to include it.

Have a nice day on both of you!

[2021-07-13 01:42] icingfire opened #48 "too many /snap/core/"
too many /snap/core/ when scan for "Uncommon setuid binaries":
/snap/core/10958/bin/mount
/snap/core/10958/bin/ping
/snap/core/10958/bin/ping6
/snap/core/10958/bin/su
/snap/core/10958/bin/umount
/snap/core/10958/usr/bin/chfn
/snap/core/10958/usr/bin/chsh
/snap/core/10958/usr/bin/gpasswd
/snap/core/10958/usr/bin/newgrp
/snap/core/10958/usr/bin/passwd
/snap/core/10958/usr/bin/sudo
/snap/core/10958/u

[2021-07-19 07:44] diego-treitos commented on #48
Hello @icingfire what version are you using?

[2021-07-19 07:48] icingfire commented on #48
lse_version="3.4"

[2021-07-19 09:25] #48 closed

[2021-07-19 09:26] diego-treitos commented on #48
Thank you!  It should be fixed in the `3.5` version.

[2021-07-20 16:10] diego-treitos opened #49 "Check ptrace_scope"
Investigate `ptrace_scope` and its impact on security and privesc.

Also requested in the past for LinEnum: https://github.com/rebootuser/LinEnum/issues/35

[2021-08-22 22:58] Reelix opened #50 "Check for existing tmux sessions"
If you log onto an active user and tmux is installed, they might have tmux sessions available that you are initially unable to see which might be useful if they had sensitive information available in one of them (Such as having switched users).

A `tmux list-sessions` would display any existing sessions and the number of windows in each session.

[2021-08-26 02:42] rjsu26 commented on #50
On it!

[2021-08-27 16:18] exploide commented on #50
If this gets added, checking `screen` would be equally reasonable.

[2021-08-27 16:34] rjsu26 commented on #50
All tmux and screen (and other similar tools) session will have to be displayed to the user, or those with some special property?

[2021-08-27 16:39] Reelix commented on #50
It would probably be ideal, although it's really up to the person doing the implementation. A simple `ps -aux | grep tmux` check would probably be fine for a start, and anything beyond that would be ideal, and up to the developer.

[2021-08-27 23:10] diego-treitos commented on #50
In my opinion, the tmux session will only be useful if you can attach to it so a `tmux ls`  should be enough. Note that if there was a writable tmux socket owned by other users (which would be highly unusual) the socket file would also appear in the writable files outside `$HOME` (`/tmp/tmux-$UID/default`).

I am not very familiar with screen (I used it many years ago) but I think `screen -ls` has

[2021-08-28 07:54] rjsu26 commented on #50
Created a work in progress PR #52

[2021-08-29 14:40] rjsu26 commented on #50
@diego-treitos @exploide @Reelix Let me know what else can be added here. Can we have a level 2 testing where the CVE IDs are also indicated based on installed version of a given software? I think its currently not under scope of LSE, but if incorporated, can be helpful to a user...

[2021-08-29 14:41] rjsu26 commented on #49
Looking more on this!

[2021-08-31 09:30] diego-treitos commented on #50
@rjsu26 I replied to your PR.

Regarding CVEs, I am working on a way of implementing those tests. For me the problem with CVE test is that is usually **very** inacurate and I wanted this tool to be as accurate as possible so you are not lead into rabbit holes. On the other hand, testing for CVEs in an accurate way is a huge task, as CVEs are patched in different versions of the software depending

[2021-09-02 12:24] rjsu26 commented on #50
@diego-treitos I made the changes and posted a doubt on the PR thread. Can you please check?

Also, let me know if I can help on the CVE testing tasks (as you said you are working on them).
Thanks

[2021-09-02 12:32] diego-treitos commented on #50
Alright, thank you! I will review them later and merge them if ready.

[2021-09-04 22:25] #50 closed

[2021-11-23 19:06] YVS37 opened #53 "Kali"

[2021-11-23 19:15] YVS37 opened #54 "Kali- Linux"

[2021-11-24 12:00] #54 closed

[2021-11-24 12:01] diego-treitos commented on #53
I don't know what this issue is about.

[2021-11-24 12:01] #53 closed

[2021-12-25 12:12] No0ob1e opened #55 "Serve option contain invalid netcat flag "-q""
Tried to use the _serve_ "-S" option and it gets a netcat error `nc: invalid option -- 'q'`
Netcat version 7.92

I fixed my version of script on line 505

[2021-12-27 23:11] diego-treitos commented on #55
Hello @No0ob1e , the *serve* option does not support **Ncat** (*yet*), it only supports `nc.openbsd` and `nc.traditional`. I don't know what linux distribution installs the **Ncat** binary as `nc`. It seems quite irregular, but I'd love to know :)

[2021-12-28 13:53] LogicBypass commented on #55
The `-q` option is supported just in `nc.traditional`

`netcat ` used as `nc` preinstalled or installed by default on my machines:

Manjaro 5.10.79-1 on bare metal, netcat installed from pacman don't support "-q" option
Kali 5.14.16 vmware, preinstalled netcat used as `nc` will be from "https://nmap.org/ncat" don't support "-q" option
Kali WSL2 installed from apt install the same version as preins

[2021-12-28 22:49] diego-treitos commented on #55
Hi again @No0ob1e , first of all thank you for taking your time looking into this.

I mostly use debian systems and there, the `nc.openbsd` has the `-q` option. I only tested from debian-like systems...😇

[code]

The purpose of the `-q0` is so the netcat that sends the script quits after EOF. For `nc.openbsd` we have `-N`, but `nc.traditional` doesn't have it so... as both `nc.openbsd` and `nc.tra

[2021-12-28 22:53] diego-treitos commented on #55
Alright, I have just released version `3.8`, which should solve the problem. This version should support `nc.openbsd`, `nc.traditional` and `ncat`.

I am closing the ticket, but feel free to reopen if it wasn't properly fixed.

[2021-12-28 22:53] #55 closed

[2022-01-23 17:03] Reelix opened #56 "Check for anonymous MongoDB authentication"
You currently check for various default MySQL and PostgreSQL authentications. I suggest a check to see if you can authenticate to a local MongoDB instance anonymously.

[2022-02-01 23:29] #56 closed

[2022-02-01 23:31] diego-treitos commented on #56
@Reelix Thank you for your suggestion. I've added a test for mongodb access in version `3.9`. The test is `sof170`.

[2022-02-14 16:19] exploide opened #57 "Common setuid binary `fusermount3`"
I think `/usr/bin/fusermount3` should be added to the list of common setuid binaries. I have that on my Fedora 35 system and I also saw it on a Debian- or Ubuntu-like box.

[code]

[2022-02-26 15:29] exploide opened #58 "Disable color not working for process monitor"
I noticed that even if `-c` is given, the output of the process monitor contains color codes.

[2022-02-26 21:46] diego-treitos commented on #57
Thank you @exploide . I added this binary and another one.

[2022-02-26 21:46] #57 closed

[2022-02-26 21:47] diego-treitos commented on #58
Thank you @exploide . This is fixed in `3.10`

[2022-02-26 21:47] #58 closed

[2022-06-02 15:50] exploide opened #66 "`lse_procmon` incompatibility with busybox `ps`"
`lse_procmon` calls `ps -ewwwo start_time,pid,user:50,args` but this seems to be procps-ng compatible only.

The busybox implementation of `ps` has no `-w` and also lacks the output columns `start_time` and `user:50`.

So when running lse on a somewhat restricted system, it explodes with `ps` errors all over the screen.

Maybe there is no trivial fix for compatibility because `lse_proc_print` also

[2022-06-04 23:31] diego-treitos commented on #66
Thank you for the bug report. I worked a bit on this and indeed it is not very easy to solve. The task saves process data so if it is skipped there won't be any process information, which is far from ideal.

On the other hand, at least on a busybox I tested (debian), the output format for `busybox ps -o stat,pid,user,args` is not coherent: in some lines the PID and the user are note separated by a

[2022-06-10 22:31] hdysec opened #67 "Colour issues dependent on system?"
Hi, I've had frequent issues with multiple unix systems where the exploit executes however no color formatting is working on these older machines whereas other scripts color coding still works.

Is there any guidance on this?

output:
![](https://i.imgur.com/QDYAkHH.png)

expected:
![](https://i.imgur.com/ZUFKgFU.png)

[2022-06-12 19:32] diego-treitos commented on #67
I would need to know in what linux systems that error is appearing.

[2022-06-18 22:24] #66 closed

[2022-06-18 22:25] diego-treitos commented on #66
It is hopefully fixed in the latest release `4.7nw`. Please feel free to test. The solution is not ideal but it should be "acceptable"... hopefully :)

[2022-07-09 06:22] robertstrom commented on #67
I just experienced the same issue and can tell you that it was on:

CentOS release 5.6 (Final)
Linux version 2.6.18-238.12.1.el5 (mockbuild@builder10.centos.org) (gcc version 4.1.2 20080704 (Red Hat 4.1.2-50)) #1 SMP Tue May 31 13:23:01 EDT 2011

It looked like the first screenshot above. Yes, it's ancient but it is an OSCP system and I can tell you that I very recently experienced an interaction

[2022-07-16 21:26] diego-treitos commented on #67
Thank you for reporting this @robertstrom . I have checked in a CentOS 5.6 and I could reproduce the problem. There are actually 2 separate problems:

1. The `-c` option not working. I have fixed this and the next release (4.9nw) will have the patch.
2. The color not working is due to the `printf` function in the `sh` shell does not support ANSI codes. This is solved if you execute the script with

[2022-07-16 21:26] #67 closed

[2022-08-25 12:44] diego-treitos opened #72 "Add CVE test for DirtyCred"